body {
  font-size: small;
  padding: 0;
  margin: 0;
}

/*SECTION 1 - CABEÇALHO*/
.cabecalho {
  background-color: #313030;
  color: #ffffff;
  padding: 1.5em;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.cabecalho button {
  width: 100px;
  background: #2e6c77;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}

.cabecalho button:hover {
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 0 3px #ffffff;
}

/*SECTION 2 - TÍTULO E DESCRIÇÃO*/
.titulo {
  font-size: 3em;
  color: #e90808;
  margin-bottom: 0.5em;
  align-items: center;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.descricao {
  font-size: 1.5em;
  color: #000000;
  margin-bottom: 1em;
  align-items: center;
  text-align: center;
}

/*SECTION 3 - DESENVOLVIMENTO*/
.desenvolvimento {
  font-size: 1.5em;
  color: #000000;
  margin-bottom: 1em;
  align-items: center;
  text-align: center;
  border: 2px solid rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

/*Queries pra celular*/
@media (max-width: 768px) {
  .cabecalho {
    padding: 1em;
    border-width: 15px;
  }

  .cabecalho button {
    padding: 0.5em;
    margin: 0.2em;
    font-size: 0.8em;
  }

  .titulo {
    font-size: 2em;
  }

  .descricao {
    font-size: 1.2em;
  }

  .desenvolvimento {
    font-size: 1em;
    padding: 0.5em;
  }
}
