/* SEÇÃO CABEÇALHO */
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #313030;
  color: #ffffff;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
}

.cabecalho-esquerda {
  display: flex;
  align-items: center;
}

.botoes-container {
  display: flex;
  align-items: center;
}

.acesso-clientes {
  margin-left: auto;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.acesso-clientes:hover {
  border-color: #c3aba6;
}

.cabecalho button {
  border-radius: 5px;
  padding: 10px 15px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);  cursor: pointer;
  color: var(--text-light);
  transition: border-color 0.3s;
  margin: 0.2em;
}

/* Ajuste para o Título (LATO) */
.cabecalho h2 {
  margin: 0;
  font-size: 2.5em;
  margin-right: 15px;
  align-items: center;
  color: var(--secondary-color);
}

/* SEÇÃO TÍTULO E DESCRIÇÕES */
.titulo {
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
}

.descricao,
.sobre-info {
  color: #e6e5e5;
  text-align: center;
  box-sizing: border-box;
}

button:hover {
  border-color: #c3aba6;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (max-width: 768px) {

  .cabecalho {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em;
  }

  .cabecalho-esquerda {
    flex-direction: column;
    align-items: center;
  }

  .cabecalho h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .botoes-container {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .cabecalho button,
  .acesso-clientes {
    width: 100%;
    padding: 0.8em;
    font-size: 1em;
  }

  .titulo {
    font-size: 2em;
    padding: 5px;
  }

  .descricao,
  .sobre-info {
    font-size: 1.1em;
    padding: 10px;
  }
}
